.Filter {
  width: 100%;
  padding: 15px 20px 15px 20px;
  overflow-x: auto;
}

.Filter::-webkit-scrollbar {
  display: none;
}

.category-filter ul {
  color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.category-filter li:hover, .category-filter .selected li {
  color: rgb(0, 0, 0);
  /* filter: brightness(1.2); */
  border-bottom: 1px solid rgb(0, 0, 0);
}