.ItemForm {
  position: relative;
  & .img-form-container {
    width: 90vw;
    margin: auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    border: 3px solid rgba(128, 128, 128, 0.6);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      background-color: rgb(175, 175, 223);
      width: 90%;
      height: 90%;
    }
  }
  & .item-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & .input-wrapper {
      padding: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background-color: rgb(214, 214, 241);
      display: flex;
      justify-content: space-between;
      & .label-container {
        display: flex;
        align-items: center;
        gap: 10px;
        & img {
          background-color: blue;
          width: 25px;
          aspect-ratio: 1/1;
        }
      }
      & input {
        background-color: rgba(185, 81, 81, 0.4);
      }
    }
  }
  & .register-button {
    padding: 12px;
    width: 100vw;
    background-color: rgb(189, 145, 145);
    position: fixed;
    bottom: 0;
  }
}


.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}