.OutfitForm { 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & .outfit-header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    & .logo {
      width: 140px;
      height: auto;
    }
  }
  & .outfit-slider {
    /* background-color: rgba(163, 163, 227, 0.2); */
    width: 100vw;
    height: calc(90vh - 80px);
    & .outfit-1, .outfit-2, .outfit-3 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      & .outfit3 {
        max-width: 170vw;
      }
      & .outfit2 {
        max-width: 180vw;
      }
      & .outfit1 {
        max-width: 200vw;
      }
      & .img.outfit3, .img.outfit2, .img.outfit1 {
        & .outfit-slider-img {
          margin: auto;
        }
      }
    }
  }
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next:before, .slick-prev::before {
  color: rgba(128, 128, 128, 0.5) !important;
}

.slick-slide.slick-active {
  /* background-color: blue !important; */
}

.OutfitForm {
  & form {
    margin: auto;
    & button {
      height: 30px;
      padding-inline: 10px;
      background-color: rgba(114, 198, 211, 0.7);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.OutfitForm {
  & footer {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: rgb(224, 224, 224); */
    height: 50px;
    bottom: 0;
    & .footer-container {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60%;
      background-color: rgb(224, 224, 224);
      height: 100%;
      padding: 5px;
      margin: auto;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top: 1px solid rgb(224, 224, 224);
      & .triangulo {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 20;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 50px solid rgb(224, 224, 224);
        border-top: 3px solid transparent;
        z-index: -1;
      }
      & .triangulo1 {
        left: 5px;
        transform: translateX(-50%);
      }
      & .triangulo2 {
        right: 5px;
        transform: translateX(50%);
      }
      & .outfit-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        & .outfit-footer-item {
          width: 37px;
          height: 37px;
          /* background-color: blue; */
          &.selected {
            font-size: 20px;
            /* background-color: rgba(165, 42, 42, 0.2); */
          }
        }
      }
      & .shuffle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgba(0, 0, 0, 0.9); */
        background-color: black;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &.white-shuffle-container {
          background-color: white;
        }
        & .shuffle {
          width: 18px;
          height: auto;
        }
      }
    }
  }
}


.slick-slider {
  /* display: flex !important;
  justify-content: center !important; */
}

.slick-list {
  /* position: relative !important; */
}
.slick-slider .something .slick-initialized {
  /* position: absolute !important; */
}
