.OutfitForm {
  display: flex;
  flex-direction: column;
  & footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    height: 50px;
    position: fixed;
    bottom: 0;
    & .footer-container {
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
      width: 60%;
      background-color: blanchedalmond;
      padding: 5px;
      margin: auto;
      & .outfit-footer-item {
      }
    }
  }
}