.Closet {
  & .closet-header {
    & .style-vault, .profile {
      padding-inline: 20px;
    }
    & .style-vault {
      padding-top: 20px;
      font-size: 18px;
    }
    & .profile {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
      & .edit {
        height: 18px;
        width: auto;
      }
      & .profile-content {
        display: flex;
        align-items: center;
        gap: 8px;
        & .img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background-color: rgb(169, 116, 116);
        }
      }
    }
    & .header-options {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      & button {
        background-color: transparent;
        width: 100%;
        text-align: center;
        padding-bottom: 3px;
      }
      & .closet-button {
        border-bottom: 2px solid rgb(0, 0, 0);
      }
      & .outfit-button {
        border-bottom: 2px solid rgb(168, 168, 168);
      }
      & .loves-button {
        border-bottom: 2px solid rgb(168, 168, 168);
      }
    }
  }
}

.Closet {
  & .user-closets {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 75px;
    & .closets-container {
      position: relative;
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px);
      aspect-ratio: 1/1;
      /* background-color: rgba(162, 162, 162, 0.1); */
      border: 1.5px solid rgb(183, 183, 183);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      & .closet-image {
        width: 75%;
        height: auto;
      }
      & .closet-active {
        opacity: 0.2;
      }
      & form {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 10px;
        position: absolute;
        z-index: 5;
        & .close-closet {
          position: absolute;
          top: -30px;
          right: 5px;
          z-index: -1;
        }
        & input {
          padding-top: 2px;
          padding-bottom: 2px;
          /* padding-left: 8px; */
          background-color: none;
          border-bottom: 1.5px solid grey;
          background-color: transparent;
          &::placeholder {
            text-align: center;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          }
          &:focus {
            outline-style: none;
          }
        }
        & button {
          border-radius: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          border: .5px solid grey;
          font-size: 14px;
        }
      }
      & .closet-name {
        width: fit-content;
        text-align: center;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }
}