.ItemDetails {
    padding-bottom: 55px;
}

.ItemDetails img {
    width: 100%;
    max-height: 50vh;
}

.item-title {
    font-size: 24px;
    font-weight: 400;
}

.item-title h2 {
    text-decoration: underline 2px black;
    text-underline-offset: 3px;
    margin-bottom: 10px;
}

.itemdetails-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.input-wrapper-item {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.itemdetails-container {
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-between;
}

.itemdetails-container input {
    font-size: 12px;
    border: 1px solid rgba(185, 183, 183, 0.484);
    color: grey;
    border-radius: 50px;
    padding: 4px 8px;
    cursor: pointer;
    text-align: right;
}

.itemdetails-container label {
    font-size: 14px;
}

.itemdetails-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemdetails-actions button {
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
}
.itemdetails-actions button:hover {
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

.itemdetails-actions p {
    color: grey;
    font-size: 14px;
}

.itemdetails-actions p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

 
.itemdetails-ul {
    display: flex;
    align-items: center;

   }

.itemdetails-li {
    font-size: 12px;
    border: 1px solid rgba(185, 183, 183, 0.484);
    color: grey;
    border-radius: 50px;
    padding: 4px 8px;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    
   }

.itemdetails-container input {
    /* max width only works with pixels wtf */
    max-width: 80px; 
    align-items: center;
    text-align: center;
}

.itemdetails-actions {
    padding-top: 20px;
}
.itemdetails-delete {
    position: relative;
}

.itemdetails-delete:hover {
    transform: rotate(30deg);
   }

.delete-secure p, .update-confirm p {
    font-size: 12px;
    color: grey;
}

.delete-secure {
    display: inline-block;
    flex: 1; /* Make both buttons take equal horizontal space */
}

.update-confirm p {
    text-align: right;
}

.delete-secure-confirm {
    text-decoration: underline;
}

.message-confirmation {
    display: flex;
    justify-content: space-between;
}

#occasionlab {
    max-width: fit-content !important;
}


.colorDot {
  height: 13px;
  width: 13px;
  background-color: black;
  border-radius: 2px !important;
  display: inline-block !important;
  margin-right: 5px;
  vertical-align: middle !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 0px !important;
}


.colorDot.Red {
   background-color: #fd6767 !important;
 }

.colorDot.Blue {
   background-color: #619bfe !important;
 }

.colorDot.Green {
   background-color: #468146 !important;
 }

.colorDot.Yellow {
   background-color: #fff872 !important;
 }

.colorDot.Orange {
  background-color: #faa250 !important;
}

.colorDot.Purple {
  background-color: #cd7cff !important;
}

.colorDot.Fuchsia {
  background-color: #ff7cc6 !important;
}

.colorDot.Navy {
  background-color: #1d2f75 !important;
}

.colorDot.Teal {
  background-color: #155e63 !important;
}

.colorDot.Aqua {
  background-color: #2ea9b1 !important;
}

.colorDot.Lime {
  background-color: #c6ff7c !important;
}

.colorDot.Olive {
  background-color: #7c8d34 !important;
}

.colorDot.Maroon {
  background-color: #aa453a !important;
}

.colorDot.Gray {
  background-color: #6e7078 !important;
}

.colorDot.Silver {
  background-color: #acadb2e6 !important;
}