.ItemHeader {
  & h2 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
  }
  & .items-list-header {
    padding-top: 20px;
    & .header-options {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      & button {
        background-color: transparent;
        width: 100%;
        text-align: center;
        padding-bottom: 3px;
        border-bottom: 2px solid rgb(168, 168, 168);
        &.active {
          border-bottom: 2px solid rgb(0, 0, 0);
        }
      }
    }
  }
}

.closet-title {
  font-style: italic;
}