.colorDot {
   height: 15px;
   width: 15px;
   background-color: black;
   border-radius: 2px;
   display: inline-block;
   margin-right: 5px;
   vertical-align: middle !important; 
    /* margin-top: 6px; */
   
}

/* change default colors for dots in filter */

.colorDot.red {
    background-color: #fd6767 !important;
  }
  
.colorDot.blue {
    background-color: #619bfe !important;
  }
  
.colorDot.green {
    background-color: #468146 !important;
  }

  .colorDot.yellow {
    background-color: #fff872 !important;
  }