.SocialGrid {
  position: relative;
  & .search-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 20px;
    height: 10vh;
    & .search-user-button {
      width: 20px;
      height: fit-content;
    }
    & .close-button {
      width: 15px;
      height: fit-content;
      margin-right: 10px;
    }
  }
}

.social-profile-wrapper {
  width: 100vw;
  padding-bottom: 54px;
  &.active {
    max-height: 70vh;
    overflow-y: hidden;
  }
}

.social-profile-container {
  border-bottom: var(--primary-border);
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* background-color: blue; */
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
  & .user-info {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    & .user-profile-picture {
      border-radius: 50%;
    }
  }
  & h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    align-self: flex-start;
    font-size: 14px;
  }
  & .social-profile {
    max-width: 80vw;
    & .feed-image {
    }
  }
  & .follow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    align-self: flex-end;
    padding-right: 25px;
    & .follow {
      padding-top: 3px;
      width: 20px;
      height: 20px;
    }
  }
}