.SocialGrid {
 .social-profile {
  & .social-header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    & .social-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(205, 205, 205);
    }
    & .name {
      font-size: 14px;
    }
  }
  & .status-update {
    padding-left: 10px;
    font-size: 13px;
    padding-bottom: 10px;
  }
  & .grid-container {
    border-bottom: var(--primary-border);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    & .grid-img-container {
      padding-bottom: 3px;
      & .grid-img {
      }
      & .follow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        & .follow {
          padding-top: 3px;
          width: 20px;
          height: 20px;
        }
      }
      & .grid-img-2 {
        border-left: var(--primary-border);
        border-right: var(--primary-border);
      }
      & .follow-container-2 {
        border-left: var(--primary-border);
        border-right: var(--primary-border);
      }
    }
    }
  } 
}