.Filter {
    padding: 30px;
    overflow-x: auto;
}

.Filter::-webkit-scrollbar {
    display: none;
  }

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    color: grey;
}

h4:hover, h4.selected {
    color: black;
    filter: brightness(1.2);
    border-bottom: 1px solid black;
  }