.Filter {
    width: 100%;
    padding: 30px;
    overflow-x: auto;
}

.Filter::-webkit-scrollbar {
    display: none;
  }

.filters {
  padding-right: 50px;
}

.filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    color: grey;
    white-space: nowrap;

}

li:hover, li.selected {
    color: black;
    filter: brightness(1.2);
    border-bottom: 1px solid black;
  }

  .filters h4 {
    width: fit-content;
  }