.add-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background-color: antiquewhite; */
  /* background-color: rgba(170, 170, 170, 0.2); */
  background-color: #dee2e6;
  width: 100vw;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 55px;
  bottom: -220%;
  bottom: -130%;
  transition: bottom 0.3s ease;
  z-index: -1;
  & button {
    /* background-color: rgb(221, 195, 195); */
    background-color: #f8f9fa;
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.add-container.popup-active {
  bottom: 110px;
  /* bottom: 165px; */
  z-index: -1;
  transition: bottom 0.3s ease;
}